
/*---header---*/
body{
    background-color: rosybrown;
}


.bg-light {
    background-color: #f1f1f1!important;
}

.navbar {
   padding: 0.5rem 3rem;
   border-bottom: solid 3px #ea672a;
   
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0,0,0);
    font-weight: 500;
    font-size: 1.2em;
    padding-left: 1em;
    padding-right: 1em;
    
}

.btn-primary {
    color: #fff;
    background-color: #ea672a;
    border-color: #ea672a;
    border-radius: 40%;
    
}



.carousel-caption {
    position: absolute;
    right: 00;
    bottom: 0;
    left: 0;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #dc3545;
    text-align: center;
    height: 180px;
}